// Utils
@import './utils/variables';
@import './utils/globals';


// Components
@import './components/footer';
@import './components/header';


//Views - pages
@import './views/index';
@import './views/conocimientos';
@import './views/hablamos';
@import './views/trabajos';
@import './views/women-in-tech';





/* Responsive */
@media (max-width: 768px) {
    .header__container-navbar {
        display: none;
    }

    .contentIndex {
        grid-template-columns: 1fr
    }

    .contentConocimientos__info p {
        display: none;
    }

    .contentConocimientos__container {
        display: flex;
        flex-direction: column;
    }

    .contentTrabajos__container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 4rem;
    }

    .contentTrabajos__container-work img{
    max-width: 300px;
    max-height: 200px;
    }

    .contentWomenTech {
    display: flex;
    flex-direction: column;
    }

    .contentWomenTech__container img {
    display: none;
    }

    .contentHablamos {
    display: flex;
    flex-direction: column;
    }

    .contentHablamos__form textarea {
        width: 300px;
        height: 200px;
    }
}