.footer__container {
	display: flex;
	justify-content: end;

    &-navbar {
        margin-right: 3rem;
        text-align: end;
        gap: 2rem;

        a:hover {
        color: $color_acento
        }

    }
    
}

.copyright {
	text-align: center;
}