.contentConocimientos__info {
	text-align: center;

    &-title{
        font-family: $font-family_acento;
        font-size: 40pt;
        margin-bottom: 5px;
    }
}

.swiffy-slider {
    background-color: $color_neutro2;
    padding: 20px;
    margin-bottom: 2rem; 
}

.slider-container {
    background-color: white;

    img {
        background-color: white;
        border-color: white;
    }

}


@media (max-width: $bpSmall) {
    
    .contentConocimientos {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__info-title{
            font-size: 30pt;
            margin: 10px;
        }

        &__info-subtitle {
            font-size: 14pt;
            margin-bottom: 30px;
        }
        
    }
}