.contentHablamos {
	display: flex;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 3rem;
        button {
            display: flex;
            align-items: center;
        }
    }   

    &___form {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
        width: 350px;
        textarea {
            width: 500px;
            height: 200px;
        }
    }
    
    &__form-input {
        border-radius: 15px;
        background-color: $background-color_5;
        font-size: 14pt;
        &::placeholder {
            color: $color_1;
        }
        &:hover {
            background-color: $background-color_3;
            box-shadow: 0 0 4px #585191;
        }
        &:focus {
            background-color: $background-color_6;
            box-shadow: 0 0 4px #585191;
            color: $color_2;
        }
    }

    &__form-dropdown {
        select {
            background-color: $background-color_5;
            color: $color_1;
            &:hover {
                background-color: $background-color_3;
                color: $color_2;
            }
            &:focus {
                background-color: $background-color_6;
                box-shadow: 0 0 4px #585191;
                color: $color_2;
            }
        }
        label {
            display: none;
        }
    }

    &__form-btn {
        &:hover {
            opacity: 75%;
        }
    }
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
	padding: 3rem;
}
