.contentHablamos {
	display: flex;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 3rem;

        &-title {
            font-family: $font-family_acento;
        }
    }   

    &__form-input {
        border-radius: 15px;
        background-color: $color_neutro3;
        font-size: 14pt;
        &::placeholder {
            color: $color_neutro2;
        }
        &:hover {
            background-color: $color_neutro2;
            box-shadow: 0 0 4px $color_principal;
        }
        &:focus {
            background-color: white;
            box-shadow: 0 0 4px $color_principal;
            color: $color_neutro3;
        }
    }

    &__form-dropdown {
        select {
            background-color: $color_neutro3;
            color: $color_neutro2;
            &:hover {
                background-color: $color_neutro2;
                color: $color_neutro3;
            }
            &:focus {
                background-color: white;
                box-shadow: 0 0 4px #585191;
                color: $color_neutro3;
            }
        }
        label {
            display: none;
        }
    }

    &__form-btn {
        &:hover {
            opacity: 75%;
        }
    }
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
	padding: 3rem;
    width: 200%;
}

@media (max-width: $bpSmall) {
    form {
        width: 100%;
        padding-top: 0px;
    }

    .contentHablamos {
        display: flex;
        flex-direction: column;
        }
}
