html {
	min-width: 100vw;
}

* {
	background-color: $color_neutro1;
	font-family: $font-family_1;
	color: $color_neutro2;
}

body {
	background-color: $color_neutro1;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

button {
	background-color: $color_acento;
	border-radius: 20px;
	padding: 1rem;
	color: $color_neutro1;
	cursor: pointer;
	a {
		background-color: $color_acento;
		color: $color_neutro3;
		font-weight: 900;
	}
}

a {
	text-decoration: none;
	color: $color_neutro4;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 22pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 16pt;
}

p {
	font-size: 12pt;
}

hr {
	color: $color_neutro2;
}

// maquetación páginas
@mixin templateFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;

    @if ($align == true) {
        align-items: center;
    }
}