//colores
$color_principal: #585191;
$color_neutro1: #1C192E;
$color_neutro2: #E7E7E7;
$color_neutro3: #706677;
$color_neutro4: #6E7DE4;
$color_acento: #FCF75B;


//tipografías
$font-family_1:'Roboto', sans-serif;
$font-family_acento: 'Jura', sans-serif;
$font-family_2: 'Jura', sans-serif;


// breakpoints
$bpSmall: 576px;
$bpLarge: 992px;