$color_1: #E7E7E7;
$color_2: #706677;
$color_3: #FCF75B;
$color_4: rgb(232, 230, 237);
$font-family_1: 'Lato', sans-serif;
$font-family_2: 'Courier New', Courier, monospace;
$background-color_1: #1C192E;
$background-color_2: #FCF75B;
$background-color_3: #E7E7E7;
$background-color_4: #443653;
$background-color_5: #706677;
$background-color_6: white;